<nav class="navbar">
    <div class="img-div"><a href="/"><img src="/static/Images/chatLogo.png" alt="" srcset="" />
            <p>LeetFeetChat</p>
        </a></div>
    <div class="login-signup-div">
        <ul>
            <li> <a href="/login#login"><button>Login</button></a></li>
            <li> <a href="/login#signup"><button>Signup</button></a></li>
        </ul>
    </div>
    <div class="navbar-profile-div"><img src="/static/Images/profile.svg" alt="" srcset="" class="navbar-profile-div-img" /></div>
</nav>
<div class="profile-dropdown">
    <div class="profile-dropdown-div hide">
        <div class="firstRow"> <img src="/static/Images/account.svg" style="height: 35px;"> <a href="/account">Account</a></div>
        <div class="secondRow"> <img src="/static/Images/my_rooms.svg" style="height: 35px;"> <a href="/my-rooms">My Rooms</a> </div>
        <div class="thirdRow"> <img src="/static/Images/logout.svg" style="height: 35px;"> <a href="/api/auth/logout">Logout</a></div>
    </div>
</div>