.container{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}

.btn-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
}

.second-btn-container{
    width: 50%;
    padding: 6px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.btn-container button{
    padding: 10px;
    height: 35px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

.bg-blue{
    background-color: blue;
    color: white;
}

.rooms-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.create-publicRoom-div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.create-publicRoom-div a{
    text-decoration: none;
    font-size: 20px;
}

.publicRooms{
    max-height: 60vh;
    overflow-y: scroll;
    width: 50%;
}

.room-details-div{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 10px;
    border: 2px solid black;
    margin-top: 5px;
}

.main-heading{
    color: black;
    font-size: 23px;
}

.room-url{
    color: black;
    font-size: 20px;
}

.join-btn-div{
    display: flex;
    align-items: center;
}

.join-btn-div button{
    background-color: green;
    color: white;
    padding: 9px;
    width: 70px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.privateRooms{
    max-height: 60vh;
    overflow-y: scroll;
    width: 50%;
    display: none;
}

.create-privateRoom-div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.create-privateRoom-div a{
    text-decoration: none;
    font-size: 20px;
}

.room-joining-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-joining-form input, .room-joining-form button{
    margin-top: 10px;
}

#room-id, #room-password{
    padding: 8px;
    outline: none;
    width: 300px;
    border: 1px solid rgb(223, 223, 205);
}

#join-privateRoom-btn{
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media only screen and (max-width: 900px) {
    .publicRooms {
      width: 90%;
    }

    .privateRooms{
        width: 90%;
    }

    .create-publicRoom-div{
        justify-content: center;
    }

    .second-btn-container{
        width: 90%;
    }

  }